@import "./colors.scss";

@font-face {
    font-family: Pixelbug;
    src: url("assets/pixelbug.otf") format("opentype");
}

@font-face {
    font-family: Pixelatus;
    src: url("assets/pixelatus.ttf") format("opentype");
}

@font-face {
    font-family: Odin;
    src: url("assets/odin_rounded.otf") format("opentype");
}

@font-face {
    font-family: ADrippingMarker;
    src: url("assets/adrip1.ttf") format("opentype");
}

.pixelbug {
    font-family: Pixelbug;
}

.pixelatus {
    font-family: Pixelatus;
}

.dripping {
    font-family: ADrippingMarker;
}

.odin {
    font-family: Odin;
}


.red {
    color: $red-color;
}

.red-light {
    color: $red-light;
}

.white {
    color: $white;
}

.uppercase {
    text-transform: uppercase;
}

.underline{
    text-decoration: underline;
}