@import "./colors.scss";
@import "./variables.scss";

::-webkit-scrollbar {
    width: $scrollbar-width;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: $red-color;
    border: solid 3px black;
}