.email-form {
    height: 226px;
    overflow: hidden;

    iframe {
        margin-top: -175px;
    }

    @media only screen and (max-width: 600px) {
        height: 246px;

        iframe {
            margin-top: -220px;
        }

    }
}